/* Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#key-titulo{
    text-align: center;
    font-family: 'Nosifer', cursive;
    font-size: 40px;
    background: linear-gradient(to top left, gray, black, whitesmoke, black, whitesmoke, gray );
    font-weight: bolder;
    text-shadow: 2px 5px 3px red;
    padding: 10px;
    /* margin-top: 60px; */
    margin: 40px;
    width: 880px;
    margin-left: 500px;
}

.fondo{
    background-image: url(../imagenes/wp5128377.jpeg);
    height: 100%;
    width: 100%;
}

/* Circulo 1 */

.circulo{
    background-color: red;
    height: 200px;
    width: 200px;
    margin-left: 1200px;
    border-radius: 50%;
    position: absolute;
    animation-name: degrade;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes degrade {
    from{
        background-color: red;
        box-shadow: 2px 5px 3px whitesmoke;
        border-radius: 0;
    }

    to{
        background-color: yellow;
        border-radius: 50%;
    }
}


/* circulo 2 */

.circulo-2{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    margin-left: 900px;
    border-radius: 50%;
    position: absolute;
    animation-name: degrade-2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes degrade-2 {
    from{
        background-color: blueviolet;
        box-shadow: 2px 5px 3px whitesmoke;
        border-radius: 0;
    }

    to{
        background-color: orangered;
        border-radius: 50%;
    }
}

/* curculo 3 */

.circulo-3{
    background-color: palevioletred;
    height: 200px;
    width: 200px;
    margin-left: 600px;
    border-radius: 50%;
    position: absolute;
    animation-name: degrade-3;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes degrade-3 {
    0% {
        background-color: whitesmoke;
        box-shadow: 2px 5px 3px greenyellow;
        border-radius: 0;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-top: 40px;
        font-weight: bolder;
        font-size: 50px;
        text-shadow: 2px 5px 3px red;
    }

    25% {
        background-color: aqua;
        text-align: center;
        padding-top: 40px;
        font-weight: bolder;
        font-size: 50px;
        text-shadow: 2px 5px 3px red;
    }

    33% {
        background-color: blue;
    }

    50% {
        top: 50%;
        left: 40%;
        text-align: center;
        padding-top: 60px;
        font-weight: bolder;
        font-size: 150px;
        text-shadow: 2px 5px 3px whitesmoke;
    }

    75% {
        background-color: chartreuse;
    }

    100% {
        background-color: orangered;
        border-radius: 50%;
        top: 50%;
        left: 0%;
        text-align: center;
        padding-top: 60px;
        font-weight: bolder;
        color: whitesmoke;
        font-size: 80px;
        text-shadow: 2px 5px 3px black;
    }
}