/* Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#key{
    text-align: center;
    font-family: 'Nosifer', cursive;
    font-size: 40px;
    background: linear-gradient(to top left, orange, red, whitesmoke, green, red, orange );
    font-weight: bolder;
    text-shadow: 2px 5px 3px whitesmoke;
    padding: 30px;
    margin: 20px;
    width: 500px;
    margin-left: 500px;
}

.fondo{
    background-image: url(../imagenes/3.-Fighting-for-Freedom-OPT.jpg);
    height: 100%;
    width: 100%;
}

.circulo{
    background-color: yellowgreen;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
}
