/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* estilos de titulo principal */

#Clas71{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    padding: 20px;
    /* margin-left: 300pt; */
    margin: 30px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    color: red;
    background-color: black;
}


.absolutas {
    height: 0px;
    width: 1000pt;
    background-color: red;
    padding-top: 100px;
    margin-left: 30px;
}



