/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    padding: 0px;
    margin: 0px
}


#titulo{
    font-family: 'Dancing Script', cursive;
    border: 2px solid black;
    text-align: center;
    padding: 30px;
    margin: 30px;
    background-color: greenyellow;
    color: black;
    text-shadow: 5px 5px 5px green;
    box-shadow: 2px 2px 2px black;
    font-weight: bolder;
    font-size: 60px;
}

