/* margenes */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: turquoise;
    margin: 0px;
    padding: 0px;
    /* padding-top: 100px; */
}

#Metodos{
    text-align: center;
    padding: 20px;
    border: 15px solid black;
    font-size: 40px;
    margin-left: 450px;
    background-color: red;
    color: white;
    text-shadow: 2px 5px 3px black;
    width: 600px;
}

section{
    background-color: beige;
    border: 2px solid black;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}