/* enlaces de Fuentes de google */

*{
    margin: 0px;
    padding: 0px;
}

#ti-web{
    text-align: center;
    border: 2px solid black;
    font-size: 40px;
    font-weight: bolder;    
    width: 600px;
    padding: 20px;
    margin: 30px;
    background: linear-gradient(to left, greenyellow, gray, greenyellow, gray);
    margin-left: 500px;
    color: aliceblue;
    text-shadow: 2px 5px 3px black;
}

.fondo{
    background: linear-gradient(to top left, black, white, gray);
    height: 150%;   
}

#fondo-img{
    width: 50%;
    height: 600px;
    margin-left: 400px;
}

#navegacion-top {
    background-color: black;
    padding: 20px;
    margin-top: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    /* position: fixed; */
    /* width: 100%; */
}

#navegacion-top .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#logo img{
    display: block;
    /* color: hsl(191deg 100% 48%); */
}

/* color sin usar */
.c1{
    color: lightskyblue;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

nav ul {
    display: flex;

}

nav ul li{
    padding: 0 30px;
}
nav ul li a{
    /* padding: 0 30px; */
    color: #0266ee;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    /* padding: 20px; */
}

nav ul li a:hover{
    background:linear-gradient(to top left, gray, lightskyblue, red);
    color: back;
}

header{
    height: 600px;
    background-image: url(../Imagenes/bg-header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}

.iluminacion{
    position: relative;
    width: 600px;
    
}

.iluminacion span {
    position: absolute;
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke: 3px whitesmoke;
}

.iluminacion .front{
    -webkit-text-stroke: 3px whitesmoke;
    margin-left: 60px;     
}

.iluminacion .back{
   filter: blur(6px);
    margin-left: 60px;
}

.info-header{
    width: 700px;
}
.info-header p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 170px;
    /* text-align: center; */
    margin-left: -130px;
}

.btn{
    margin-top: 50px;
    background-color: white;
    border: 0;
    padding: 10px 25px;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 20px;
    color: rgba(2, 110, 233, 0.918);
    font-weight: bolder;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

