/* Estilos de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#border{
    color: red;
    border: 2px solid black;
    text-shadow: 2px 2px 2px white;
    padding: 30px;
    width: 800px; 
    margin-left: 350px;
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    text-align: center;
    background-color: black;
    margin-top: 50px;
}

.Ej-borde{
    height: 300px;
    width: 300px;
    background-color: yellowgreen;
    margin: 100px auto;
    border-top-left-radius:250px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 100px 30%;
    border-bottom-left-radius: 5em 3rem;
}

#lacoste{
    margin-left: 250px;
    width: 70%;
    border-radius: 50%;
    border: 5px solid black;
}