/* Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

/* Fuentes descargadas de fontsquirrel */
@font-face{
    font-family: "KaushanScript-Regular";
    src: url(../Fuentes/KaushanScript-Regular.otf);
    font-weight: bolder;
    font-style: oblique;
}



*{
    margin: 0px;
    padding: 0px;
}

#font-ti{
    background: linear-gradient(to top left, green, blue, red, orange,yellow);
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    font-family: 'Julee', cursive;
    text-shadow: 5px 3px 2px black;
    margin-left: 490px;
    margin-top: 40px; 
    width: 400px;
    text-align: center;
    color:whitesmoke;
}

#fondo{
    background: linear-gradient(to top right, orange, red, blue, green);
    height: 150%;
}

#ciudad-img{
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    max-width: 100%;
    /* margin-left:  50px; */
}

section{
    width: 400px;
    margin: 100px auto;
    padding: 15px;
    background-color: antiquewhite;
    border: 10px solid rgba(209, 16, 16, 0.62)
}

.prueba{
    font-family: KaushanScript-Regular;
    font-size: 40px;
}
