/* Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

#font{
    background: linear-gradient(to top left, green, blue, red, orange,yellow);
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    font-family: 'Julee', cursive;
    margin-left: 500px;
    margin-top: 40px; 
    width: 300px;
    text-align: center;
    color:whitesmoke;
}

#fondo{
    background: linear-gradient(to top right, orange, red, blue, green);
    height: 150%;
}

#ciudad-img{
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    max-width: 100%;
    /* margin-left:  50px; */
}

section{
    width: 400px;
    margin: 100px auto;
    padding: 15px;
    background-color: antiquewhite;
    border: 10px solid rgba(209, 16, 16, 0.62)
}

