/* Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.degratit{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: linear-gradient(to top left, yellow, red, blue, green);
    color: whitesmoke;
    text-shadow: 2px 3px 5px black;
    font-weight: bolder;
    font-size: 40px;
    width: 400px;
    margin-left: 500px;
}

#fondo{
    background: linear-gradient(to top left, #ff9800, #00bcd4, green, yellow, red);
}

#deg-radiales_1{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(ellipse, yellow, black);
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px black;
}
#deg-radiales_2{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: radial-gradient(circle at top, rgb(13, 230, 67), black);
    background-color: antiquewhite;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px black;
}
#deg-radiales_3{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    background: radial-gradient(circle at bottom, rgb(230, 13, 194), white);
    height: 400px;
    margin: 100px auto;
    background-color: antiquewhite;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px black;
}
#deg-radiales_4{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    background: radial-gradient(circle at left, rgb(231, 153, 9), white);
    height: 400px;
    margin: 100px auto;
    background-color: antiquewhite;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px black;
}
#deg-radiales_5{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    background: radial-gradient(circle at right, rgb(131, 9, 231), white);
    height: 400px;
    margin: 100px auto;
    background-color: antiquewhite;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px black;
}

#deg-radiales_6{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle farthest-corner at 10% 15% , yellow, 50%, orange, black);
    margin: 100px auto;
    background-color: antiquewhite;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px black;
}

#deg-radiales_7{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle farthest-corner at 10% 15% , yellow, 50%, orange, 20%, black);
    margin: 100px auto;
    background-color: antiquewhite;
    color: white;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px red;
}
#deg-radiales_8{
    font-family: 'Julee', cursive;
    text-align: center;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle at 30% 50%, rgba(34, 116,160,0) 50%, black);
    margin: 100px auto;
    background-color: antiquewhite;
    color: white;
    font-size: 40px;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 2px 3px 5px red;
}

