/* Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gloria Hallelujah', cursive;

}

#fondo{
    background-color:rgba(255, 94, 0, 0.582); 
}

.multi-column{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    padding: 30px;
    margin: 20px;
    margin-top: -6px;
    background: linear-gradient(to top left, yellow, red, blue, green);
    color: whitesmoke;
    text-shadow: 2px 3px 5px black;
    font-weight: bolder;
    font-size: 40px;
    width: 350px;
    margin-left: -6px;
}

#titular{
    background: linear-gradient(to top left, blue, red, orangered, green, yellow);
    width: 370px;
    padding: 20px;
    margin: 30px;
    margin-left: -6px;
    font-size: 20px;
    text-align: center;
}

.arbol{
    width: 300px;
    height: 200px;
    margin-left: 30px;
}

p{
    margin-left: 30px;
}

article{
    margin: 50px;
    padding: 15px;
    background-color: cornsilk;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 15px;
    -webkit-column-rule-style: dashed;
    -webkit-column-rule-color: black;
}





